In [ ]:
from dataframe_generator import DataFrameGenerator

# use case 1 (orders)

gen_df = DataFrameGenerator(nrows=10, random_state=12)

# add cols
gen_df.add_column("order_id", ("id", 0))
gen_df.add_column("customer_code", ("prefix_id", "CUST", 4, False))
gen_df.add_column("customer_id", ("alphanumeric_id", 8, False))
gen_df.add_column("customer_initials", ("string", 3, "upper"))
gen_df.add_column("num_products", ("int", 1, 20))
gen_df.add_column("price", ("correlated", "num_products", 3, 0.5))
gen_df.add_column("shipping", ("int_prob", [1,1.5,2], [0.25,0.5,0.25]))
gen_df.add_column("delivered", ("bernoulli", 0.65))
gen_df.add_column("pct_paid", ("percent", 10,2))
gen_df.add_column("num_payment_methods", ("int_prob", [1,2,3], [0.9, 0.06, 0.04]))
gen_df.add_column("order_date", ("datetime", '2025-01-01', '2025-12-31'))
gen_df.add_column("delivered_from", ("cat_prob", ['Amazon', 'Website', 'Store'], [0.4, 0.5, 0.1]))
gen_df.add_column("survey_completion", ("beta", 3, 5, 100, {'missing':0.7}))  #missing used here
df = gen_df.build()


df.head(10)

,order_id,customer_code,customer_id,customer_initials,num_products,price,shipping,delivered,pct_paid,num_payment_methods,order_date,delivered_from,survey_completion
0,0,CUST5788,Il2ka1Om,JFT,7,21.079894,1.5,False,0.888554,1,2025-07-30 14:01:44,Website,NaN
1,1,CUST9607,nszJKJHE,VLA,16,47.641868,1.5,False,0.817537,3,2025-12-06 13:23:03,Amazon,29.091519
2,2,CUST3326,3GswYqug,LSZ,2,6.025261,1.5,True,0.707783,1,2025-01-26 00:16:33,Amazon,27.668213
3,3,CUST7410,7TjTEWGU,NWU,5,14.928331,1.5,True,0.943041,1,2025-08-08 10:05:12,Amazon,NaN
4,4,CUST3715,B7z7ypz2,XGS,13,39.471788,2.0,True,0.937510,1,2025-10-13 17:36:59,Amazon,NaN
5,5,CUST9476,H4eGebRS,TCG,6,18.178822,1.5,True,0.806999,1,2025-08-31 09:30:26,Website,NaN
6,6,CUST0279,Ll1Ze1l1,EVA,11,32.958275,2.0,True,0.861240,1,2025-11-25 08:05:38,Store,NaN
7,7,CUST8242,RV8GQggT,QFU,10,30.338903,2.0,True,0.886684,1,2025-12-16 12:57:43,Amazon,NaN
8,8,CUST3726,dcCk67uJ,QDN,3,9.278030,1.5,True,0.937041,1,2025-10-01 18:36:16,Amazon,NaN
9,9,CUST4570,523uRTHu,XZW,5,15.111360,1.0,True,0.920022,2,2025-03-27 12:20:33,Amazon,NaN

In [63]:
from dataframe_generator import DataFrameGenerator

# use case 2 (college)

gen_df = DataFrameGenerator(nrows=10, random_state=1)

# add cols
gen_df.add_column("student_id", ("prefix_id", "STU", 4))
gen_df.add_column("fist_initial", ("string", 1, "upper"))
gen_df.add_column("last_initial", ("string", 1, "upper"))
gen_df.add_column("major", ("cat", ['Psychology', 'Finance', 'Biology', 'Fashion', 'Art', 'Political Science', 'Math', 'Marketing', 'Engineering', 'Computer Science']))
gen_df.add_column("CUM_GPA", ("float", 0,4))
gen_df.add_column("major_GPA", ("normal_clip", 3.1, 0.3, 0, 4))
gen_df.add_column("graduated", ("bool", ))
gen_df.add_column("birth_date", ("date", '2002-01-01', '2006-01-01'))
df = gen_df.build()

df['CUM_GPA'] = round(df['CUM_GPA'], 2)
df['major_GPA'] = round(df['major_GPA'], 2)
df.head(10)

,student_id,fist_initial,last_initial,major,CUM_GPA,major_GPA,graduated,birth_date
0,STU0001,F,B,Art,3.20,3.05,True,2002-09-07
1,STU0002,L,M,Biology,3.87,2.84,False,2005-05-17
2,STU0003,M,H,Art,1.25,3.11,True,2004-08-20
3,STU0004,I,N,Marketing,2.77,3.27,True,2004-11-16
4,STU0005,J,G,Marketing,3.51,2.77,False,2005-01-27
5,STU0006,L,Z,Computer Science,3.58,3.44,False,2003-06-12
6,STU0007,F,S,Finance,0.34,3.37,False,2005-04-14
7,STU0008,P,U,Marketing,0.16,3.25,True,2002-07-28
8,STU0009,A,F,Psychology,0.68,3.37,False,2004-02-12
9,STU0010,Q,S,Math,3.51,2.89,False,2004-05-28

In [ ]:
from dataframe_generator import DataFrameGenerator

# use case 3 (distributions)

gen_df = DataFrameGenerator(nrows=10, random_state=5)

# add cols
gen_df.add_column("normal", ("normal", 10, 1))
gen_df.add_column("normal_clip", ("normal_clip", -10, 20, -30, 30))
gen_df.add_column("bernoulli", ("bernoulli",0.5))
gen_df.add_column("beta", ("beta", 3, 1, 10))
gen_df.add_column("poisson", ("poisson", 7))
gen_df.add_column("lognormal", ("lognormal", 3, 1))
gen_df.add_column("correlated", ("correlated", "normal", 3, 10))
df = gen_df.build()


df.head(10)

,normal,normal_clip,bernoulli,beta,poisson,lognormal,correlated
0,10.441227,-30.000000,True,8.435433,4,32.902797,18.999821
1,9.669130,-14.097530,True,8.468766,7,33.131594,36.276922
2,12.430771,-17.176579,True,6.202640,7,44.363747,37.751866
3,9.747908,2.069432,True,7.354809,4,23.825691,24.372397
4,10.109610,-30.000000,True,7.655778,6,3.477310,38.490153
5,11.582481,-24.003581,False,8.234623,7,37.723999,31.933142
6,9.090768,13.027820,False,6.874866,11,33.060169,3.916085
7,9.408363,27.146620,True,7.012921,8,55.597465,16.552306
8,10.187603,-30.000000,True,6.719741,6,8.615228,35.139390
9,9.670130,2.896950,True,9.729470,4,249.836732,51.390046